body{
    background-color: #07337f;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: white;
}
h5{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
}
nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: underline;
}
.list, .photos, .contact{
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
.AboutPhotography{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
html {
  scroll-behavior: smooth;
}
.list ul, .list ol {
    list-style-type: square;
    padding-left: 20px;
}

